openai
backoff
requests
python-dotenv
llama-index
streamlit==1.31.1
streamlit-pdf-viewer==0.0.8
boto3
llama-parse
llama-index-llms-bedrock
python-dotenv
tabulate
instructor
anthropic[bedrock]
json-repair
docling